PORT=3000
RAZORPAY_MODE=test
RAZORPAY_KEY_ID=rzp_test_your_test_key_id_here
RAZORPAY_KEY_SECRET=your_test_key_secret_here
DEMO_PAYMENT=false
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_for_local_demo
CLIENT_URL=http://localhost:3000
